#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;


}
#picture-container{
    

}

#More-info-on-Bangalore{

}